<template>
  <div id="app">
    <!-- Title/Header -->
    <h1>{{ msg }}</h1>

    <!-- The VR Section -->
    <div class="vr-screen">

      <!-- Aframe -->
      <a-scene>
        <a-assets>
          <!--  a list of 360 images. held in (./assets) -->
          <img id="parade" src="./assets/360photo.jpg"></img>
        </a-assets>
        <!--  The 360 photo-->
        <a-sky src="#parade"></a-sky>
      </a-scene>

    </div>

  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      msg: 'Welcome to Sievent 360°'
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

header {
  background-color: #2a2a2a;
  height: 100px;
  // padding: 20px;
  color: white;
}

.title {
  font-size: 40px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
